/venv/
/.venv/
/out/
/out/*
!/out/
!/out/.gitkeep
/data/audio/
/data/audio/*
!/data/audio/
!/data/audio/.gitkeep
/data/asr-json/
/data/asr-json/*
!/data/asr-json/
!/data/asr-json/.gitkeep
/data/original_txt/
/data/original_txt/*
!/data/original_txt/
!/data/original_txt/.gitkeep
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
.DS_Store
Thumbs.db
*.wav
*.mp3
*.m4a
*.flac
